/* Force the textarea to be wide like the page entry textarea */
.wp-editor-container textarea.wp-editor-area {
	width: 99.9%;
	border: none !important;
}

#stylesheet #titlediv {
	margin-bottom: 15px;
}

.wrap .icon32 {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 8px;
}

.wrap #jgcss-title {
	padding-left: 45px;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  height: 500px !important;
}